<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/css/pha_styles001.css"  type="text/css">
</head>
<body>
<h2> Client Domain Certificate Generation </h2>
<h3>
This app is continuation of clients request for creation of domain certificate.
Here you can download the client domain certificate. This is a test CA and
the certificate generated, is only a test certificate and can not be used
in a productive environment.
The next stage after we have generated the domain certificates, is to use them.
</h3>
<h4>
In general the certificate usages are:<br>
1. TLS Communication<br>
2. Document encryptions<br>
3. Document decryptions<br>
4. Document signing<br>
5. code signing<br>
The certificate is tested on Chrome and firefox browsers only.<br>
</h4>
<p><ul>
  <li><a href="/login_client">Login with Client Id</a></li>
  <li><a href="/register_client">Register A new client</a></li>
  <li><a href="/logout">Logout</a></li>
</ul></p>
</body>
</html>